@import 'variabili';
@import 'home';
@import 'federica';
@import 'servizi';
@import 'contatti';
@import 'footer';
@import 'blog';
@import 'admin';

body, html {
    overflow-x: hidden;
}
h1,h2,h3,h4,h5,h6 {
    margin: 0;
}
.pg-wrapper {
    overflow: hidden !important;
    height: 100vh !important;
    padding-bottom: 0 !important;
}
#container-mobile {
    @media #{$tablet} {display: none !important;}
    @media #{$notebook} {display: none !important;}
    @media #{$pc} {display: none !important;}
}
#container-desktop {
    @media #{$big-smartphone} {display: none !important;}
    @media #{$smartphone} {display: none !important;}
    @media #{$small-smartphone} {display: none !important;}
}

#container-mobile {
    display: inline-flex;
    .section {
        height: 100%;
        @media #{$big-smartphone} {
            padding: 0 70px 0 40px;
        }
        @media #{$smartphone} {
            padding: 0 170px 0 30px;
        }
        @media #{$small-smartphone} {
            padding: 0 170px 0 30px;
        }
    }
}
.iconMenu {
    width: 45px;
    position: fixed;
    right: 40px;
    top: 50px;
    z-index: 9999999;
    cursor: pointer;
    display: none;
    @media #{$big-smartphone} {
        display: block;
    }
    @media #{$smartphone} {
        display: block;
        right: 30px;
        top: 40px;
    }
    @media #{$small-smartphone} {
        display: block;
        right: 30px;
        top: 40px;
    }
    div {
        width: 45px;
        height: 3px;
        background-color: $thirdBg;
        float: right;
        &:nth-child(1) {
            width: 35px;
            transition: width 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
        }
        &:nth-child(2) {
            margin-top: 9px;
        }
        &:nth-child(3) {
            margin-top: 9px;
            width: 29px;
            transition: width 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
        }
        &.active {
            width: 45px;
            transition: width 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
        }
    }
}
.shop-icon {
    width: 30px;
    top: 40px;
    right: 110px;
    @media #{$smartphone} {
        right: 100px;
        top: 30px;
    }
    @media #{$small-smartphone} {
        right: 100px;
        top: 30px;
    }
}
nav {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: $secondaryBg;
    width: 100%;
    height: 0%;
    z-index: 99999;
    @media #{$tablet} {
        bottom: auto;
        top: 30px;
        background: none;
        width: auto;
        left: 47%;
    }
    @media #{$notebook} {
        bottom: auto;
        top: 30px;
        background: none;
        width: auto;
        left: 48%;
    }
    @media #{$pc} {
        bottom: auto;
        top: 30px;
        background: none;
        width: auto;
        left: 48%;
    }
    .navbar {
        justify-content: center;
        height: 100%;
        @media #{$tablet} {
            justify-content: end;
            align-items: flex-start;
        }
        @media #{$notebook} {
            justify-content: end;
            align-items: flex-start;
        }
        @media #{$pc} {
            justify-content: end;
            align-items: flex-start;
        }
        .nav-item {
            text-align: center;
            margin: 10px 7px;
            @media #{$tablet} {
                &:first-child {
                    margin-right: 20px;
                }
            }
            @media #{$notebook} {
                &:first-child {
                    margin-right: 20px;
                }
            }
            @media #{$pc} {
                &:first-child {
                    margin-right: 20px;
                }
            }
            div {
                overflow: hidden;
                height: 25px;
                width: 100%;
                @media #{$big-smartphone} {
                    overflow: visible;
                    height: 100%;
                }
                @media #{$smartphone} {
                    overflow: visible;
                    height: 100%;
                }
                @media #{$small-smartphone} {
                    overflow: visible;
                    height: 100%;
                }
                a {
                    padding: 0;
                    transform: translateY(0);
                    transition: transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
                    @media #{$big-smartphone} {
                        font-size: 2rem;
                        transform: none !important;
                    }
                    @media #{$smartphone} {
                        font-size: 2rem;
                        transform: none !important;
                    }
                    @media #{$small-smartphone} {
                        font-size: 2rem;
                        transform: none !important;
                    }
                }
                &:hover {
                    a {
                        transform: translateY(-27px);
                    }
                }
                .menu-hidden {
                    @media #{$big-smartphone} {
                        display: none;
                    }
                    @media #{$smartphone} {
                        display: none;
                    }
                    @media #{$small-smartphone} {
                        display: none;
                    }
                }
            }
        }
    }
}
.back {
    position: fixed;
    top: 60px;
    left: 60px;
    z-index: 4;
    @media #{$smartphone} {
        top: 40px;
        left: 30px;
    }
    @media #{$small-smartphone} {
        top: 40px;
        left: 30px;
    }
    img {
        width: 50px;
        transform: rotate(180deg);
        @media #{$smartphone} {
            width: 40px;
        }
        @media #{$small-smartphone} {
            width: 40px;
        }
    }
}

// animazioni
@keyframes animReveal {
    0% {transform: translateY(105%);}
    100% {transform: translateY(0);}
}
@-webkit-keyframes animReveal {
    0% {transform: translateY(105%);}
    100% {transform: translateY(0);}
}
@keyframes animWidth {
    0% {width: 100%;}
    100% {width: 0;}
}
@-webkit-keyframes animWidth {
    0% {width: 100%;}
    100% {width: 0;}
}
.animReveal {
    animation: animReveal 1s cubic-bezier(0.52, 0.01, 0, 1) forwards;
}
.animWidth {
    animation: animWidth 1s cubic-bezier(0.52, 0.01, 0, 1) forwards;
    animation-delay: 0.8s;
}
// menu show
@keyframes showMenu {
    0% {height: 0%;}
    100% {height: 100%;}
}
@-webkit-keyframes showMenu {
    0% {height: 0%;}
    100% {height: 100%;}
}
.showMenu {
    animation: showMenu 1s cubic-bezier(0.52, 0.01, 0, 1) forwards;
}
