<div class="iconMenu">
    <div></div>
    <div></div>
    <div></div>
</div>
<!-- <a href="#" title="shop"><img class="iconMenu shop-icon" src="/fede2_orig/img/shop.png"></a> -->
<nav id="mainMenu">
    <div class="navbar navbar-expand-md">
        <ul class="navbar-nav">
            <!--
            <li class="nav-item">
                <div>
                    <a href="#" title="shop" class="nav-link shop-link">SHOP</a>
                    <a href="#" title="shop" class="nav-link menu-hidden shop-link">SHOP</a>
                </div>
            </li>
        -->
            <li class="nav-item">
                <div>
                    <a href="/" title="home" class="nav-link shop-link">HOME</a>
                    <a href="/" title="home" class="nav-link menu-hidden shop-link">HOME</a>
                </div>
            </li>
            <li class="nav-item">
                <div>
                    <a href="servizi" title="servizi" class="nav-link">SERVIZI</a>
                    <a href="servizi" title="servizi" class="nav-link menu-hidden">SERVIZI</a>
                </div>
            </li>
            <li class="nav-item">
                <div>
                    <a href="federica" title="racconti di benessere" class="nav-link">RACCONTI DI BENESSERE</a>
                    <a href="federica" title="racconti di benessere" class="nav-link menu-hidden">RACCONTI DI BENESSERE</a>
                </div>
            </li>
            <li class="nav-item">
                <div>
                    <a href="contatti" title="contatti" class="nav-link">CONTATTI</a>
                    <a href="contatti" title="contatti" class="nav-link menu-hidden">CONTATTI</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
